<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <b><%= link_to "Users", admin_users_path, class: "link-success" %></b>
        <b><%= link_to "Camps", admin_camps_path, class: "link-success" %></b>
        <b><%= link_to "Camp Locations", admin_locations_path, class: "link-success" %></b>
        <b><%= link_to "User Applications", admin_enrolments_path, class: "link-success" %></b>
      </li>
    </ul>
</div>
